USE [master]
GO
/****** Object:  Database [KutuphaneOtomasyonu]    Script Date: 1.12.2025 21:52:52 ******/
CREATE DATABASE [KutuphaneOtomasyonu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneOtomasyonu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KutuphaneOtomasyonu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneOtomasyonu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KutuphaneOtomasyonu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneOtomasyonu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneOtomasyonu]
GO
/****** Object:  Table [dbo].[Kat]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kat](
	[KatID] [int] IDENTITY(1,1) NOT NULL,
	[KatAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[KitapAdi] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](30) NOT NULL,
	[YazarID] [int] NOT NULL,
	[YayineviID] [int] NOT NULL,
	[KategoriID] [int] NOT NULL,
	[BasimYili] [int] NULL,
	[SayfaSayisi] [int] NULL,
	[Dil] [nvarchar](50) NULL,
	[Fiyat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplik]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplik](
	[KitaplikID] [int] IDENTITY(1,1) NOT NULL,
	[KatID] [int] NOT NULL,
	[KitaplikAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KitaplikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapSirasi]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapSirasi](
	[KitapSirasiID] [int] IDENTITY(1,1) NOT NULL,
	[RafID] [int] NOT NULL,
	[KitapID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapSirasiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kolon]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kolon](
	[KolonID] [int] IDENTITY(1,1) NOT NULL,
	[KitaplikID] [int] NOT NULL,
	[KolonAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KolonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odunc]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odunc](
	[OduncID] [int] IDENTITY(1,1) NOT NULL,
	[UyeID] [int] NOT NULL,
	[KitapID] [int] NOT NULL,
	[AlisTarihi] [date] NOT NULL,
	[TeslimTarihi] [date] NULL,
	[PersonelID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OduncID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](150) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raf]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raf](
	[RafID] [int] IDENTITY(1,1) NOT NULL,
	[KolonID] [int] NOT NULL,
	[RafNumarasi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RafID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[TcPass] [nvarchar](20) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Soyad] [nvarchar](100) NOT NULL,
	[Cinsiyet] [nvarchar](20) NULL,
	[DogumYili] [int] NULL,
	[Telefon] [nvarchar](20) NULL,
	[Eposta] [nvarchar](150) NULL,
	[Adres] [nvarchar](250) NULL,
	[AdresDetay] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yayinevleri]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yayinevleri](
	[YayineviID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](150) NOT NULL,
	[KurulusYili] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[YayineviID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 1.12.2025 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[YazarID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Soyad] [nvarchar](100) NOT NULL,
	[DogumTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (1, N'Roman')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (2, N'Polisiye')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (3, N'Bilimkurgu')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([KitapID], [KitapAdi], [ISBN], [YazarID], [YayineviID], [KategoriID], [BasimYili], [SayfaSayisi], [Dil], [Fiyat]) VALUES (1, N'sss', N'232', 6, 6, 6, 444, 22, N'dd', NULL)
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([PersonelID], [AdSoyad], [KullaniciAdi], [Sifre]) VALUES (1, N'a', N'a', N'YQ==')
SET IDENTITY_INSERT [dbo].[Personel] OFF
GO
SET IDENTITY_INSERT [dbo].[Yayinevleri] ON 

INSERT [dbo].[Yayinevleri] ([YayineviID], [Ad], [KurulusYili]) VALUES (1, N'Can Yayınları', 1981)
INSERT [dbo].[Yayinevleri] ([YayineviID], [Ad], [KurulusYili]) VALUES (2, N'İletişim Yayınları', 1982)
INSERT [dbo].[Yayinevleri] ([YayineviID], [Ad], [KurulusYili]) VALUES (3, N'Doğan Kitap', 1999)
SET IDENTITY_INSERT [dbo].[Yayinevleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Yazarlar] ON 

INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad], [DogumTarihi]) VALUES (1, N'Orhan', N'Pamuk', CAST(N'1952-06-07' AS Date))
INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad], [DogumTarihi]) VALUES (2, N'Ahmet', N'Ümit', CAST(N'1960-09-30' AS Date))
INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad], [DogumTarihi]) VALUES (3, N'Elif', N'Şafak', CAST(N'1971-10-25' AS Date))
SET IDENTITY_INSERT [dbo].[Yazarlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kitaplar__447D36EAB7D85814]    Script Date: 1.12.2025 21:52:53 ******/
ALTER TABLE [dbo].[Kitaplar] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personel__5BAE6A7566127D93]    Script Date: 1.12.2025 21:52:53 ******/
ALTER TABLE [dbo].[Personel] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Uyeler__202A1870CCD3925C]    Script Date: 1.12.2025 21:52:53 ******/
ALTER TABLE [dbo].[Uyeler] ADD UNIQUE NONCLUSTERED 
(
	[TcPass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([YayineviID])
REFERENCES [dbo].[Yayinevleri] ([YayineviID])
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([YazarID])
REFERENCES [dbo].[Yazarlar] ([YazarID])
GO
ALTER TABLE [dbo].[Kitaplik]  WITH CHECK ADD FOREIGN KEY([KatID])
REFERENCES [dbo].[Kat] ([KatID])
GO
ALTER TABLE [dbo].[KitapSirasi]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[KitapSirasi]  WITH CHECK ADD FOREIGN KEY([RafID])
REFERENCES [dbo].[Raf] ([RafID])
GO
ALTER TABLE [dbo].[Kolon]  WITH CHECK ADD FOREIGN KEY([KitaplikID])
REFERENCES [dbo].[Kitaplik] ([KitaplikID])
GO
ALTER TABLE [dbo].[Odunc]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[Odunc]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[Odunc]  WITH CHECK ADD FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
ALTER TABLE [dbo].[Raf]  WITH CHECK ADD FOREIGN KEY([KolonID])
REFERENCES [dbo].[Kolon] ([KolonID])
GO
USE [master]
GO
