<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kutuphane.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Kutuphane.UI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kutuphane.UI.Properties.Settings>
            <setting name="SavedUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
        </Kutuphane.UI.Properties.Settings>
        <Kutuphane.UI.Settings1>
            <setting name="KullaniciAdi" serializeAs="String">
                <value />
            </setting>
            <setting name="Sifre" serializeAs="String">
                <value />
            </setting>
            <setting name="BeniHatirla" serializeAs="String">
                <value>False</value>
            </setting>
        </Kutuphane.UI.Settings1>
    </userSettings>
</configuration>