USE [master]
GO
/****** Object:  Database [KutuphaneOtomasyonu]    Script Date: 30.12.2025 11:26:28 ******/
CREATE DATABASE [KutuphaneOtomasyonu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneOtomasyonu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.STAJYERSQL\MSSQL\DATA\KutuphaneOtomasyonu.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneOtomasyonu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.STAJYERSQL\MSSQL\DATA\KutuphaneOtomasyonu_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneOtomasyonu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneOtomasyonu]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LoginKontrol]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


                CREATE   FUNCTION [dbo].[fn_LoginKontrol]
                (
                    @UserName nvarchar(20)
                    , @Password nvarchar(250)
                )
                RETURNS BIT
                AS
                BEGIN

                    --Declare the return variable here
                    DECLARE @ResultVar BIT = 0

                    -- Add the T - SQL statements to compute the return value here
                    IF EXISTS(SELECT TOP 1 PersonelId FROM Personeller WITH(NOLOCK) Where KullaniciAdi = @UserName AND Sifre = @Password AND AktifMi = 1)

                        BEGIN
                            SELECT @ResultVar = 1

                        END

                    -- Return the result of the function

                    RETURN @ResultVar

                END
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinsiyetler]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinsiyetler](
	[Id] [tinyint] NOT NULL,
	[CinsiyetAdi] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Cinsiyetler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diller]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diller](
	[DilId] [smallint] IDENTITY(1,1) NOT NULL,
	[DilAdi] [nvarchar](25) NOT NULL,
	[DilKodu] [varchar](5) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Diller] PRIMARY KEY CLUSTERED 
(
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](150) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapKategori]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapKategori](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KitapId] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
 CONSTRAINT [PK_KitapKategori] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapId] [int] IDENTITY(1,1) NOT NULL,
	[KitapAdi] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](25) NULL,
	[YazarId] [int] NOT NULL,
	[YayineviId] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
	[BasimYili] [int] NULL,
	[SayfaSayisi] [int] NULL,
	[DilId] [smallint] NOT NULL,
	[Stok] [int] NOT NULL,
	[Aktif] [bit] NOT NULL,
 CONSTRAINT [PK_Kitaplar] PRIMARY KEY CLUSTERED 
(
	[KitapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oduncler]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oduncler](
	[OduncId] [int] IDENTITY(1,1) NOT NULL,
	[UyeId] [int] NOT NULL,
	[KitapId] [int] NOT NULL,
	[AlisTarihi] [datetime] NOT NULL,
	[TeslimTarihi] [datetime] NULL,
	[TeslimEdildi] [bit] NOT NULL,
	[TeslimEdenPersonelId] [int] NOT NULL,
	[TeslimAlanPersonelId] [int] NULL,
 CONSTRAINT [PK_Oduncler] PRIMARY KEY CLUSTERED 
(
	[OduncId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personeller]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[PersonelId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[CinsiyetId] [tinyint] NOT NULL,
	[KullaniciAdi] [nvarchar](20) NOT NULL,
	[Sifre] [nvarchar](250) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Personeller] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelRolleri]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelRolleri](
	[PersonelId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_PersonelRolleri] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [varchar](50) NOT NULL,
	[RolKodu] [varchar](100) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Roller] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolYetkileri]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolYetkileri](
	[RolYetkiId] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NOT NULL,
	[YetkiId] [int] NOT NULL,
 CONSTRAINT [PK_RolYetkileri] PRIMARY KEY CLUSTERED 
(
	[RolYetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeId] [int] IDENTITY(1,1) NOT NULL,
	[TcPass] [varchar](20) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[CinsiyetId] [tinyint] NOT NULL,
	[DogumTarihi] [datetime] NOT NULL,
	[Telefon] [varchar](15) NOT NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](200) NOT NULL,
	[AdresDetay] [nvarchar](500) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Uyeler] PRIMARY KEY CLUSTERED 
(
	[UyeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YayineviKitaplari]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YayineviKitaplari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YayineviId] [int] NOT NULL,
	[KitapId] [int] NOT NULL,
	[DonemBaslangici] [datetime] NOT NULL,
	[DonemBitisi] [datetime] NULL,
 CONSTRAINT [PK_YayineviKitaplari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yayinevleri]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yayinevleri](
	[YayineviId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](300) NOT NULL,
	[KurulusYili] [int] NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Yayinevleri] PRIMARY KEY CLUSTERED 
(
	[YayineviId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YazarKitaplari]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YazarKitaplari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YazarId] [int] NOT NULL,
	[KitapId] [int] NOT NULL,
 CONSTRAINT [PK_YazarKitaplari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[YazarId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](200) NOT NULL,
	[Soyad] [nvarchar](200) NOT NULL,
	[DogumTarihi] [datetime] NULL,
	[OlumTarihi] [datetime] NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Yazarlar] PRIMARY KEY CLUSTERED 
(
	[YazarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetkiler]    Script Date: 30.12.2025 11:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetkiler](
	[YetkiId] [int] IDENTITY(1,1) NOT NULL,
	[YetkiKodu] [varchar](50) NOT NULL,
	[YetkiAdi] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Yetkiler] PRIMARY KEY CLUSTERED 
(
	[YetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_KitapKategori_KategoriId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_KitapKategori_KategoriId] ON [dbo].[KitapKategori]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KitapKategori_KitapId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_KitapKategori_KitapId] ON [dbo].[KitapKategori]
(
	[KitapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kitaplar_DilId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Kitaplar_DilId] ON [dbo].[Kitaplar]
(
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kitaplar_KategoriId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Kitaplar_KategoriId] ON [dbo].[Kitaplar]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kitaplar_YayineviId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Kitaplar_YayineviId] ON [dbo].[Kitaplar]
(
	[YayineviId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kitaplar_YazarId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Kitaplar_YazarId] ON [dbo].[Kitaplar]
(
	[YazarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Oduncler_KitapId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Oduncler_KitapId] ON [dbo].[Oduncler]
(
	[KitapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Oduncler_TeslimAlanPersonelId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Oduncler_TeslimAlanPersonelId] ON [dbo].[Oduncler]
(
	[TeslimAlanPersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Oduncler_TeslimEdenPersonelId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Oduncler_TeslimEdenPersonelId] ON [dbo].[Oduncler]
(
	[TeslimEdenPersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Oduncler_UyeId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Oduncler_UyeId] ON [dbo].[Oduncler]
(
	[UyeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personeller_CinsiyetId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Personeller_CinsiyetId] ON [dbo].[Personeller]
(
	[CinsiyetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonelRolleri_RolId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_PersonelRolleri_RolId] ON [dbo].[PersonelRolleri]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roller_RolAdi]    Script Date: 30.12.2025 11:26:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roller_RolAdi] ON [dbo].[Roller]
(
	[RolAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolYetkileri_RolId_YetkiId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RolYetkileri_RolId_YetkiId] ON [dbo].[RolYetkileri]
(
	[RolId] ASC,
	[YetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolYetkileri_YetkiId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_RolYetkileri_YetkiId] ON [dbo].[RolYetkileri]
(
	[YetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uyeler_CinsiyetId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_Uyeler_CinsiyetId] ON [dbo].[Uyeler]
(
	[CinsiyetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_YayineviKitaplari_KitapId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_YayineviKitaplari_KitapId] ON [dbo].[YayineviKitaplari]
(
	[KitapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_YayineviKitaplari_YayineviId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_YayineviKitaplari_YayineviId] ON [dbo].[YayineviKitaplari]
(
	[YayineviId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_YazarKitaplari_KitapId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_YazarKitaplari_KitapId] ON [dbo].[YazarKitaplari]
(
	[KitapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_YazarKitaplari_YazarId]    Script Date: 30.12.2025 11:26:31 ******/
CREATE NONCLUSTERED INDEX [IX_YazarKitaplari_YazarId] ON [dbo].[YazarKitaplari]
(
	[YazarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Yetkiler_YetkiKodu]    Script Date: 30.12.2025 11:26:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Yetkiler_YetkiKodu] ON [dbo].[Yetkiler]
(
	[YetkiKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Diller] ADD  DEFAULT (CONVERT([bit],(1))) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kategoriler] ADD  DEFAULT (CONVERT([bit],(1))) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((0)) FOR [Stok]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Aktif]
GO
ALTER TABLE [dbo].[Oduncler] ADD  DEFAULT (getdate()) FOR [AlisTarihi]
GO
ALTER TABLE [dbo].[Oduncler] ADD  DEFAULT (CONVERT([bit],(0))) FOR [TeslimEdildi]
GO
ALTER TABLE [dbo].[Personeller] ADD  DEFAULT (CONVERT([bit],(1))) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Roller] ADD  DEFAULT (CONVERT([bit],(1))) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Uyeler] ADD  DEFAULT (CONVERT([bit],(1))) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Yayinevleri] ADD  DEFAULT (CONVERT([bit],(1))) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Yazarlar] ADD  DEFAULT (CONVERT([bit],(1))) FOR [AktifMi]
GO
ALTER TABLE [dbo].[KitapKategori]  WITH CHECK ADD  CONSTRAINT [FK_KitapKategori_Kategoriler_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[KitapKategori] CHECK CONSTRAINT [FK_KitapKategori_Kategoriler_KategoriId]
GO
ALTER TABLE [dbo].[KitapKategori]  WITH CHECK ADD  CONSTRAINT [FK_KitapKategori_Kitaplar_KitapId] FOREIGN KEY([KitapId])
REFERENCES [dbo].[Kitaplar] ([KitapId])
GO
ALTER TABLE [dbo].[KitapKategori] CHECK CONSTRAINT [FK_KitapKategori_Kitaplar_KitapId]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitaplar_Diller_DilId] FOREIGN KEY([DilId])
REFERENCES [dbo].[Diller] ([DilId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitaplar_Diller_DilId]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitaplar_Kategoriler_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitaplar_Kategoriler_KategoriId]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitaplar_Yayinevleri_YayineviId] FOREIGN KEY([YayineviId])
REFERENCES [dbo].[Yayinevleri] ([YayineviId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitaplar_Yayinevleri_YayineviId]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitaplar_Yazarlar_YazarId] FOREIGN KEY([YazarId])
REFERENCES [dbo].[Yazarlar] ([YazarId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitaplar_Yazarlar_YazarId]
GO
ALTER TABLE [dbo].[Oduncler]  WITH CHECK ADD  CONSTRAINT [FK_Oduncler_Kitaplar_KitapId] FOREIGN KEY([KitapId])
REFERENCES [dbo].[Kitaplar] ([KitapId])
GO
ALTER TABLE [dbo].[Oduncler] CHECK CONSTRAINT [FK_Oduncler_Kitaplar_KitapId]
GO
ALTER TABLE [dbo].[Oduncler]  WITH CHECK ADD  CONSTRAINT [FK_Oduncler_Personeller_TeslimAlanPersonelId] FOREIGN KEY([TeslimAlanPersonelId])
REFERENCES [dbo].[Personeller] ([PersonelId])
GO
ALTER TABLE [dbo].[Oduncler] CHECK CONSTRAINT [FK_Oduncler_Personeller_TeslimAlanPersonelId]
GO
ALTER TABLE [dbo].[Oduncler]  WITH CHECK ADD  CONSTRAINT [FK_Oduncler_Personeller_TeslimEdenPersonelId] FOREIGN KEY([TeslimEdenPersonelId])
REFERENCES [dbo].[Personeller] ([PersonelId])
GO
ALTER TABLE [dbo].[Oduncler] CHECK CONSTRAINT [FK_Oduncler_Personeller_TeslimEdenPersonelId]
GO
ALTER TABLE [dbo].[Oduncler]  WITH CHECK ADD  CONSTRAINT [FK_Oduncler_Uyeler_UyeId] FOREIGN KEY([UyeId])
REFERENCES [dbo].[Uyeler] ([UyeId])
GO
ALTER TABLE [dbo].[Oduncler] CHECK CONSTRAINT [FK_Oduncler_Uyeler_UyeId]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_Cinsiyetler_CinsiyetId] FOREIGN KEY([CinsiyetId])
REFERENCES [dbo].[Cinsiyetler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_Cinsiyetler_CinsiyetId]
GO
ALTER TABLE [dbo].[PersonelRolleri]  WITH CHECK ADD  CONSTRAINT [FK_PersonelRolleri_Personeller_PersonelId] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personeller] ([PersonelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonelRolleri] CHECK CONSTRAINT [FK_PersonelRolleri_Personeller_PersonelId]
GO
ALTER TABLE [dbo].[PersonelRolleri]  WITH CHECK ADD  CONSTRAINT [FK_PersonelRolleri_Roller_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roller] ([RolId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonelRolleri] CHECK CONSTRAINT [FK_PersonelRolleri_Roller_RolId]
GO
ALTER TABLE [dbo].[RolYetkileri]  WITH CHECK ADD  CONSTRAINT [FK_RolYetkileri_Roller_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roller] ([RolId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolYetkileri] CHECK CONSTRAINT [FK_RolYetkileri_Roller_RolId]
GO
ALTER TABLE [dbo].[RolYetkileri]  WITH CHECK ADD  CONSTRAINT [FK_RolYetkileri_Yetkiler_YetkiId] FOREIGN KEY([YetkiId])
REFERENCES [dbo].[Yetkiler] ([YetkiId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolYetkileri] CHECK CONSTRAINT [FK_RolYetkileri_Yetkiler_YetkiId]
GO
ALTER TABLE [dbo].[Uyeler]  WITH CHECK ADD  CONSTRAINT [FK_Uyeler_Cinsiyetler_CinsiyetId] FOREIGN KEY([CinsiyetId])
REFERENCES [dbo].[Cinsiyetler] ([Id])
GO
ALTER TABLE [dbo].[Uyeler] CHECK CONSTRAINT [FK_Uyeler_Cinsiyetler_CinsiyetId]
GO
ALTER TABLE [dbo].[YayineviKitaplari]  WITH CHECK ADD  CONSTRAINT [FK_YayineviKitaplari_Kitaplar_KitapId] FOREIGN KEY([KitapId])
REFERENCES [dbo].[Kitaplar] ([KitapId])
GO
ALTER TABLE [dbo].[YayineviKitaplari] CHECK CONSTRAINT [FK_YayineviKitaplari_Kitaplar_KitapId]
GO
ALTER TABLE [dbo].[YayineviKitaplari]  WITH CHECK ADD  CONSTRAINT [FK_YayineviKitaplari_Yayinevleri_YayineviId] FOREIGN KEY([YayineviId])
REFERENCES [dbo].[Yayinevleri] ([YayineviId])
GO
ALTER TABLE [dbo].[YayineviKitaplari] CHECK CONSTRAINT [FK_YayineviKitaplari_Yayinevleri_YayineviId]
GO
ALTER TABLE [dbo].[YazarKitaplari]  WITH CHECK ADD  CONSTRAINT [FK_YazarKitaplari_Kitaplar_KitapId] FOREIGN KEY([KitapId])
REFERENCES [dbo].[Kitaplar] ([KitapId])
GO
ALTER TABLE [dbo].[YazarKitaplari] CHECK CONSTRAINT [FK_YazarKitaplari_Kitaplar_KitapId]
GO
ALTER TABLE [dbo].[YazarKitaplari]  WITH CHECK ADD  CONSTRAINT [FK_YazarKitaplari_Yazarlar_YazarId] FOREIGN KEY([YazarId])
REFERENCES [dbo].[Yazarlar] ([YazarId])
GO
ALTER TABLE [dbo].[YazarKitaplari] CHECK CONSTRAINT [FK_YazarKitaplari_Yazarlar_YazarId]
GO
USE [master]
GO
